body{
    background: white;
    margin: 0;
}

#cabecalho{
    display: table;
    width: 100%;
    background: rgb(148, 1, 16);
}

#menu{
    max-height: 50px;
    background:rgb(148, 1, 16);
    padding: 10px;
    margin: 5px auto;
    width: 70%;
    float: right;
}

#menu > ul{
    color: white;
    display: table;
    margin: 5px auto;
    padding: 0px;
    float: right;
    margin-top: 8px;
}

#menu > ul > li{
    float:left;
    position:relative;
    bottom: 70px;
}

#menu li{
    list-style: none;
}

.logo{
    max-block-size: 35px;
    float: right;
    position: relative;
    right: 210px;
    top: 10px;
}

.titulo{
    color: white;
    position: relative;
    bottom: 14px;
}

.titulo1{
   margin-top: 80px;
   margin-left: 20px;
}
.subtitulo{
    margin-top: 40px;
    margin-left: 20px;
    
}
.boxtext{
    background: rgb(148, 1, 16);
    color: white;
    height: 150px;
    width: 500px;
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    display:inline-block;
    text-align: justify;
    margin-top: 10px;
}
.imagem{
    width: 300px;
    position: relative;
    top: 40px;
    left: 200px;
    border-style: solid;
    border-width: 10px;
    border-color:rgb(148, 1, 16) ;
    border-radius: 5px;
    
}
.imagem2{
    top:80px;
}
